layout {

    focus-ring {
        active-color   "#e6c181"
        inactive-color "#16130f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e6c181"
        inactive-color "#16130f"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#e6c181"
        inactive-color "#ba995c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e6c18180"
    }
}

recent-windows {
    highlight {
        active-color "#e6c181"
        urgent-color "#ffb4ab"
    }
}
